@charset "utf-8";
/* CSS Document */

*{
	margin: 0px;
	padding:0px;
}
.botonera {
	width: 100%;
	height: 50px;
}
nav ul {
	list-style: none;
}
.botonera nav ul li{
	display: inline;
}
.botonera a{
	text-decoration: none;
}