@charset "utf-8";
/* CSS Document */

*{
	margin: 0px;
	padding:0px;
}
.botonera {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 10px;
	background-color: #f5f5f5
}
.botonera ul {
	list-style: none;
	display: flex;
	margin: 0;
	padding: 0;
}
.botonera ul li {
	margin: 0 10px;
	}
.botonera ul li a {
	text-decoration: none;
	color: #333;
	font-family: "Alegreya Sans";
	padding: 15px 15px;
	}
.botonera ul li a:hover {
	background-color: #FFD700;
	color: black;
}
.logo{
	display:flex;
	align-content: center;
}
.estudios{
	font-family: "Alegreya Sans";
	font-size:16px;
	}
h1{
	font-family:"Clash Display", "sans serif";
	font-size: 54px;
	font-weight: 500
	}
h2{
	font-family: "Alegreya Sans";
	font-size: 40px;
	font-weight: 200;
 }
h3{
	font-family:"Alegreya Sans";
	font-size:14px;
	text-transform: uppercase;
	font-weight:900;
}
h3 a{
	text-decoration:none;
	color: inherit;
	background-color:#FFD700;
	padding: 5px 5px;
}
p{
	font-family:"Alegreya Sans";
	font-size:16px
}
@font-face{
	font-family:"Clash Display";
	src: url("fonts/ClashDisplay-Regular.otf") format("opentype");
	font-weight: normal;
	font-style:normal;
}