@charset "utf-8";
/* CSS Document */

*{
	margin: 0px;
	padding:0px;
}
.botonera {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 10px;
	background-color: #f5f5f5
}
.botonera ul {
	list-style: none;
	display: flex;
	margin: 0;
	padding: 0;
}
.botonera ul li {
	margin: 0 10px;
	}
.botonera ul li a {
	text-decoration: none;
	color: #333;
	font-family: "Alegreya Sans";
}
.logo{
	display:flex;
	align-content: center;
}
.estudios{
	font-family: "Alegreya Sans";
	font-size:16px;
	}
h1{
	font-family:'Clash Display';
	font-size: 54px;
	}
h2{
	font-family: "Alegreya Sans";
	font-size: 40px;
	font-weight: 200;
	
}
h3{
	font-family:"Alegreya Sans";
	font-size:14px;
	text-transform: uppercase;
	font-weight:900;
}
p{
	font-family:"Alegreya Sans";
	font-size:16px
}